<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.config.mybatis.mapper.authorityMapper">

	<insert id="insertAuthority" parameterType="authority">
	 	insert into authority (email, authority) values(#{email}, #{authority})
	</insert>

	<sql id="authority-select-sql">
		select email, authority from authority
	</sql>
	
	<resultMap id="authority-resultmap" type="authority">
		<id column="email" property="email"/>
		<result column="authority" property="authority"/>
	</resultMap>
	
	<select id="selectAllAuthority" resultMap="authority-resultmap">
		<include refid="authority-select-sql"/>
	</select>
	
	<select id="selectAuthorityByEmail" parameterType="string" resultMap="authority-resultmap">
		<include refid="authority-select-sql"/>
		where email = #{value}
	</select>
	
	<update id="updateAuthority" parameterType="Authority">
		update authority set authority = #{authority} where email = #{email}  
	</update>
	
	<delete id="deleteAuthority" parameterType="string">
		delete from authority where email = #{value} 
	</delete>
</mapper>