<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.config.mybatis.mapper.codeMapper">
	<sql id="Code-select-sql">
		select code, code_name, category from code
	</sql>
	
	<resultMap id="Code-resultmap" type="Code">
		<id column="code" property="code"/>
		<result column="code_name" property="codeName"/>
		<result column="category" property="category"/>
	</resultMap>
	
	<select id="selectCodeByCode" parameterType="string" resultMap="Code-resultmap">
		<include refid="Code-select-sql"/>
		where code = #{code}
	</select>
	
	<insert id="insertCode" parameterType="Code">
		insert into Dog_Image values(#{code}, #{code_name}, #{category})
	</insert>
	
	<!-- dogImage명으로 수정 -->
	<update id="updateCode" parameterType="Code">
		update 	code
		set     code_name = #{code_name},
				category = #{category},
		where 	code = #{code}
	</update>
	
	<!-- dogImage명으로 삭제 -->
	<delete id="deleteCode" parameterType="string">
		delete from Code where code = #{code} 
	</delete>
</mapper>