<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.config.mybatis.mapper.codeMapper">
	
	<sql id="code-select-sql">
		select code, code_name, category from code
	</sql>
	
	<resultMap id="code-resultmap" type="Code">
		<id column="code" property="code"/>
		<result column="code_name" property="codeName"/>
		<result column="category" property="category"/>
	</resultMap>
	
	<select id="selectCodeByCode" parameterType="string" resultMap="code-resultmap">
		<include refid="code-select-sql"/>
		where code = #{value}
	</select>
	<select id="selectCodeByCategory" parameterType="string" resultMap="code-resultmap">
		<include refid="code-select-sql"></include>
		WHERE category = #{value}
	</select>
	<insert id="insertCode" parameterType="Code">
		insert into code values(#{code}, #{codeName}, #{category})
	</insert>
	
	<!-- code명으로 수정 -->
	<update id="updateCode" parameterType="Code">
		update 	code
		set     code_name = #{codeName},
				category = #{category}
		where 	code = #{code}
	</update>
	
	<!-- code명으로 삭제 -->
	<delete id="deleteCode" parameterType="string">
		delete from code where code = #{value} 
	</delete>
</mapper>