<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.config.mybatis.mapper.dogImageMapper">
	<sql id="DogImage-select-sql">
		select DOG_IMAGE,DOG_ID from DOG_IMAGE
	</sql>
	
	<resultMap id="DogImage-resultmap" type="DogImage">
		<id column="DOG_ID" property="dogId"/>
		<result column="DOG_IMAGE" property="dogImage"/>
	</resultMap>
	
	<select id="selectDogImageByDogImage" parameterType="string" resultMap="DogImage-resultmap">
		<include refid="DogImage-select-sql"/>
		where Dog_Image = #{DogImage}
	</select>
	
	<insert id="insertDogImage" parameterType="DogImage">
		insert into Dog_Image values(#{dogId}, #{dogImage})
	</insert>
	
	<!-- dogImage명으로 수정 -->
	<update id="updateDogImage" parameterType="DogImage">
		update 	DOG_IMAGE
		set 	DOG_ID = #{dogId},
			    DOG_IMAGE = #{dogImage}
		where 	DOG_IMAGE = #{dogImage}
	</update>
	
	<!-- dogImage명으로 삭제 -->
	<delete id="deleteDogImage" parameterType="string">
		delete from DOG_IMAGE where DOG_IMAGE = #{dogImage} 
	</delete>
</mapper>