<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.config.mybatis.mapper.memberMapper">

	<insert id="insertMember" parameterType="member">
		INSERT INTO	member VALUES( 	#{email},
									#{memberName},
									#{password},
									#{mainAddress},
									#{subAddress},
									#{zipcode},
									#{memberImage},
									#{phoneNum},
									#{memberEnable}	)
	</insert>
	
	<sql id="member-dog-select-sql">
		select	m.email,
				m.member_name,
				m.main_address,
				m.sub_address,
				m.password,
				m.zipcode,
				m.member_image,
				m.phonenum,
				d.dog_name,
				d.species,
				d.gender,
				d.weight,
				d.birth
		from	member m, dog d
	</sql>
	
	<!-- member-resultmap -->
	<resultMap type="member" id="member-dog-resultmap">
		<id column="email" property="email" />
		<result column="member_name" property="memberName" />
		<result column="main_address" property="mainAddress" />
		<result column="password" property="password" />
		<result column="sub_address" property="subAddress" />
		<result column="zipcode" property="zipcode" />
		<result column="member_image" property="memberImage" />
		<result column="phonenum" property="phoneNum" />
		<collection property="dogList" ofType="Dog">
			<id column="dog_id" property="dogId"/>
			<result column="dog_name" property="dogName"/>
			<result column="species" property="species"/>
			<result column="gender" property="gender"/>
			<result column="weight" property="weight"/>
			<result column="birth" property="birth"/>
		</collection>
	</resultMap>
	
	<select id="selectAllMemberJoinDog" resultMap="member-dog-resultmap">
		<include refid="member-dog-select-sql"/>
	</select>
	
	<select id="selectMemberJoinDogByEmail" parameterType="string" resultMap="member-dog-resultmap">
		<include refid="member-dog-select-sql"/>
		where m.email = #{value}
	</select>
	
	<select id="selectMemberJoinDogByName" parameterType="string" resultMap="member-dog-resultmap">
		<include refid="member-dog-select-sql"/>
		where m.member_name like '%'||#{value}||'%'
	</select>
	
	<resultMap type="member" id="member-dog-sitter-skill-resultmap" extends="member-dog-resultmap">
		<collection property="sitter" ofType="Sitter">
			<id column="email" property="email"/>
			<result column="school" property="school"/>
			<result column="certification" property="certification"/>
			<result column="service_address" property="serviceAddress"/>
			<result column="sitter_rate" property="sitterRate"/>
		</collection>
		<collection property="skillList" ofType="Code">
			<id column="code_name" property="codeName"/>
		</collection>
	</resultMap>
	
	<sql id="member-dog-sitter-skill-select">
		select	m.email,
				m.member_name,
				m.main_address,
				m.sub_address,
				m.zipcode,
				m.member_image,
				m.phonenum,
				s.school,
				s.certification,
				s.service_address,
				s.sitter_rate,
				c.code_name,
				d.dog_name,
				d.species,
				d.gender,
				d.weight,
				d.birth
		from	member m, dog d, sitter s, skill k, code c
	</sql>
	
	<select id="selectAllMemberJoinDogSitterSkill" resultMap="member-dog-sitter-skill-resultmap">
		<include refid="member-dog-sitter-skill-select"/>
		where	s.email = m.email 
		and		s.email = d.email 
		and		k.code_skill = c.code
		and		s.email = k.email(+)
	</select>
	
	<select id="selectMemberJoinDogSitterSkillByEmail" parameterType="string" resultMap="member-dog-sitter-skill-resultmap">
		<include refid="member-dog-sitter-skill-select"/>
		where	s.email = #{value} 
		and		s.email = m.email 
		and		s.email = d.email 
		and 	k.code_skill = c.code 
		and 	s.email = k.email(+)
	</select>
	
	<select id="selectMemberJoinDogSitterSkillByName" parameterType="string" resultMap="member-dog-sitter-skill-resultmap">
		<include refid="member-dog-sitter-skill-select"/>
		where	m.member_name like '%'||#{value}||'%' 
		and 	s.email = m.email 
		and 	s.email = d.email 
		and 	k.code_skill = c.code 
		and 	s.email = k.email(+)
	</select>

	<resultMap type="member" id="member-join-review-resultmap" extends="member-dog-sitter-skill-resultmap">
		<collection property="reviewList" ofType="Review">
			<id column="review_id" property="reviewId" />
			<result column="review_rate" property="reviewRate" />
			<result column="review_contents" property="reviewContents" />
			<result column="email" property="memberEmail" />
			<result column="email_sitter" property="sitterEmail" />
		</collection>
	</resultMap>

	<sql id="member-review-sql">
		select	s.email,
				r.review_rate,
				r.review_contents
		from	review r, member s
	</sql>

	<select id="c" parameterType="string" resultMap="member-join-review-resultmap">
		<include refid="member-review-sql"/>
		where s.email = r.email_sitter 
	</select>
		
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="member">
		update	member
		set 	member_name = #{memberName},
				password = #{password},
				main_address = #{mainAddress},
				sub_address = #{subAddress},
				zipcode = #{zipcode},
				member_image = #{memberImage},
				phonenum = #{phoneNum}
		where 	email = #{email}
	</update>

	<!-- 회원 정보 삭제 cascade -->
	<delete id="deleteMember" parameterType="string">
		delete from member where email = #{email}
	</delete>
</mapper>