<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.config.mybatis.mapper.memberMapper">
	
	<sql id="member-authority-sql">
		select	m.email,
				m.member_name,
				m.main_address,
				m.sub_address,
				m.password,
				m.zipcode,
				m.member_image,
				m.phonenum,
				m.member_enable,
				a.authority
		from	member m, authority a
	</sql>
	
	<sql id="member-dog-select-sql">
		select	m.email,
				m.member_name,
				m.main_address,
				m.sub_address,
				m.password,
				m.zipcode,
				m.member_image,
				m.phonenum,
				m.member_enable,
				a.authority,
				d.dog_name,
				d.species,
				d.gender,
				d.weight,
				d.birth,
				i.dog_image
		from	member m, authority a, dog d, DOG_IMAGE i
	</sql>
	
	<sql id="member-sitter-skill-authority-select-sql">
		select	m.email, m.member_name, m.password, m.main_address, m.sub_address, m.zipcode,
		m.member_image, m.phonenum, m.member_enable,
		s.school, s.certification, s.service_address, s.sitter_rate, s.VISIT_PRICE, s.give_price,
		c.code, c.code_name, c.category,
		a.authority
		from  member m, sitter s, skill sk, code c, authority a
	</sql>
	
	<!-- <resultMap type="member" id="member-join-review-resultmap" extends="member-dog-sitter-skill-resultmap">
		<collection property="reviewList" ofType="Review">
			<id column="review_id" property="reviewId" />
			<result column="review_rate" property="reviewRate" />
			<result column="review_contents" property="reviewContents" />
			<result column="email" property="memberEmail" />
			<result column="email_sitter" property="sitterEmail" />
		</collection>
	</resultMap> -->
	
	
	<!-- 관리자가 전체 회원 조회 할 때 데이터가 많아서 느려서 만듬 -->
	<resultMap type="Member" id="member-authority-resultmap">
		<id column="email" property="email" />
		<result column="member_name" property="memberName" />
		<result column="main_address" property="mainAddress" />
		<result column="password" property="password" />
		<result column="sub_address" property="subAddress" />
		<result column="zipcode" property="zipcode" />
		<result column="member_image" property="memberImage" />
		<result column="phonenum" property="phoneNum" />
		<result column="member_enable" property="memberEnable" />
		<collection property="authorityList" ofType="Authority">
			<result column="authority" property="authority"/>
		</collection>
	</resultMap>
	
	<!-- member-resultmap -->
	<resultMap type="member" id="member-dog-resultmap">
		<id column="email" property="email" />
		<result column="member_name" property="memberName" />
		<result column="main_address" property="mainAddress" />
		<result column="password" property="password" />
		<result column="sub_address" property="subAddress" />
		<result column="zipcode" property="zipcode" />
		<result column="member_image" property="memberImage" />
		<result column="phonenum" property="phoneNum" />
		<result column="member_enable" property="memberEnable" />
		<collection property="authorityList" ofType="Authority">
			<result column="authority" property="authority"/>
		</collection>	
		<collection property="dogList" ofType="Dog">
			<id column="dog_id" property="dogId"/>
			<result column="dog_name" property="dogName"/>
			<result column="species" property="species"/>
			<result column="gender" property="gender"/>
			<result column="weight" property="weight"/>
			<result column="birth" property="birth"/>
				<collection property="dogImage" ofType="DogImage">
					<result column="dog_image" property="dogImage"/>
				</collection>
				<collection property="dogInfoList" ofType="DogInfo">
					<association property="code" javaType="Code">
						<id column="code" property="code"/>
						<result column="code_name" property="codeName"/>
						<result column="category" property="category"/>
					</association>
				</collection>
		</collection>
	</resultMap>
	
	<!-- 회원에서 권한과 시터 스킬 조회 resulmap -->
	<!-- 
		스킬은 code_skill과 해당하는 code의 code를 갖는 property가 있어야 된다. 
	-->
	<resultMap type="Member" id="member-sitter-skill-authority-resultmap">
		<id column="email" property="email" />
		<result column="member_name" property="memberName" />
		<result column="main_address" property="mainAddress" />
		<result column="password" property="password" />
		<result column="sub_address" property="subAddress" />
		<result column="zipcode" property="zipcode" />
		<result column="member_image" property="memberImage" />
		<result column="phonenum" property="phoneNum" />
		<result column="member_enable" property="memberEnable" />
		<association property="sitter" javaType="Sitter">
			<id column="email" property="email"/> 
			<result column="school" property="school"/>
			<result column="certification" property="certification"/>
			<result column="service_address" property="serviceAddress"/>
			<result column="sitter_rate" property="sitterRate"/>
			<result column="visit_price" property="visitPrice"/>
			<result column="give_price" property="givePrice"/>
			<collection property="skillList" ofType="Skill">
				<result column="code" property="codeSkill"/>
				<association property="code" javaType="Code">
					<id column="code" property="code"/>
					<result column="code_name" property="codeName"/>
					<result column="category" property="category"/>
				</association>
			</collection>
		</association>
		<collection property="authorityList" ofType="Authority">
			<result column="authority" property="authority"/>
		</collection>
	</resultMap>
	
	<!-- 전체 회원을 조회(탈퇴한 회원 포함) -->
	<select id="selectAllMemberJoinAuthority" resultMap="member-authority-resultmap">
		<include refid="member-authority-sql"/>
		where m.email = a.email
	</select>
	
	<select id="selectMemberJoinAuthorityByEmail" parameterType="string" resultMap="member-authority-resultmap">
		<include refid="member-authority-sql"/>
		where m.email = a.email
		and m.email = #{email}
	</select>
	
	<!-- 전체 회원과 강아지를 조회 -->
	<select id="selectAllMemberJoinDog" resultMap="member-dog-resultmap">
		<include refid="member-dog-select-sql"/>
		where   m.member_enable = '1'
	</select>
	
	<!--이메일로 회원과 강아지를 조회 -->
	<select id="selectMemberJoinDogByEmail" parameterType="string" resultMap="member-dog-resultmap">
		<include refid="member-dog-select-sql"/>
		where m.email = #{email}
		and	  m.email = a.email
		and   m.email = d.email(+)
		and	  d.dog_id = i.dog_id(+) 
		and   m.member_enable = '1'
	</select>
	
	<!--이름로 회원과 강아지를 조회 -->
	<select id="selectMemberJoinDogByName" parameterType="string" resultMap="member-dog-resultmap">
		<include refid="member-dog-select-sql"/>
		where m.member_name like '%'||#{value}||'%'
	</select>
	
	<!-- 시터의 전체 회원정보, 시터정보, 스킬 정보 조회 -->
	<select id="selectAllMemberJoinSitterSkillAuthority" parameterType="string" resultMap="member-sitter-skill-authority-resultmap">
		<include refid="member-sitter-skill-authority-select-sql"/>
		where 	m.email = s.email(+)
		and	    m.email = a.email
		and		s.email = sk.email(+)
		and		sk.code_skill = c.code(+)
		and 	m.member_enable = '1'
		and 	m.email = a.email	
	</select>
	
	<!-- 이메일로 시터의 회원정보, 시터정보 스킬 정보 조회 -->
	<select id="selectMemberJoinSitterSkillAuthorityByEmail" parameterType="string" resultMap="member-sitter-skill-authority-resultmap">
		<include refid="member-sitter-skill-authority-select-sql"/>
		where 	m.email = s.email(+)
		and	    m.email = a.email
		and		s.email = sk.email(+)
		and		sk.code_skill = c.code(+)
		and 	m.member_enable = '1'
		and 	m.email = a.email	
		and  	m.email = #{email}
	</select>
	
	<!-- 이름으로 시터의 회원정보, 시터정보, 강아지 정보, 스킬 정보 조회 -->
	<select id="selectMemberJoinSitterSkillAuthorityByName" parameterType="string" resultMap="member-sitter-skill-authority-resultmap">
		<include refid="member-sitter-skill-authority-select-sql"/>
		where	m.member_name like '%'||#{value}||'%'
		and	    m.email = a.email 
		and 	m.email = s.email
		and		s.email = sk.email
		and		sk.code_skill = c.code
		and 	m.member_enable = '1'
		and 	m.email = a.email	
	</select>

	<sql id="member-review-sql">
		select	s.email,
				r.review_rate,
				r.review_contents
		from	review r, member s
	</sql>

	<!-- <select id="c" parameterType="string" resultMap="member-join-review-resultmap">
		<include refid="member-review-sql"/>
		where s.email = r.email_sitter 
	</select> -->
	
	<!-- 회원 정보 추가 -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO	member VALUES( 	#{email},
									#{memberName},
									#{password},
									#{mainAddress},
									#{subAddress},
									#{zipcode},
									#{memberImage},
									#{phoneNum},
									#{memberEnable}	)
	</insert>
		
	<!-- 회원 정보 수정 -->
	<update id="updateMember" parameterType="member">
		update	member
		set 	member_name = #{memberName},
				password = #{password},
				main_address = #{mainAddress},
				sub_address = #{subAddress},
				zipcode = #{zipcode},
				member_image = #{memberImage},
				phonenum = #{phoneNum},
				member_enable = #{memberEnable}
		where 	email = #{email}
	</update>

	<!-- 회원 정보 삭제 cascade -->
	<delete id="deleteMember" parameterType="string">
		delete from member where email = #{email}
	</delete>
</mapper>