<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plz.config.mybatis.mapper.sitterMapper">

	<sql id="sitter-select-sql">
		select email, school, certification, service_address, sitter_rate from sitter
	</sql>
	
	<sql id="sitter-join-skill-sql">
		select s.email,
			   s.school,
			   s.certification,
			   s.service_address,
			   s.sitter_rate,
			   c.code,
			   c.code_name,
			   c.category	
		from   sitter s, skill k, code c
		where  s.email = k.email
		and    k.code_skill = c.code
	</sql>
	
	<resultMap id="sitter-resultmap" type="sitter">
		<id column="email" property="email"/>
		<result column="school" property="school"/>
		<result column="certification" property="certification"/>
		<result column="service_address" property="serviceAddress"/>
		<result column="sitter_rate" property="sitterRate"/>
	</resultMap>
	
	<!-- sitter -> skill -> code로 조회 -->
	<resultMap id="sitter-join-skill-resultmap" type="sitter" extends="sitter-resultmap">
		<!-- property는 VO의 변수명 , ofType : VO명 -->
		<collection property ="skillList" ofType ="skill">
			<id property ="email" column = "email"/>
			<association property="codeSkill" javaType="com.plzdog.vo.Code">
				<id property="code" column="code"/>
				<result property="codeName" column="code_name"/>
				<result property="category" column="category"/>
			</association>
		</collection>
	</resultMap>
	
	<!-- ##########################데이터 조회 쿼리##################################  -->
	<select id="selectSitterByEmail" parameterType="string" resultMap="sitter-resultmap">
		<include refid="sitter-select-sql"/>
		where email = #{email}
	</select>
	
	<select id="selectSitterSkillListByEmail" parameterType="string" resultMap="sitter-join-skill-resultmap">
		<include refid="sitter-join-skill-sql"/>
		and s.email = #{email}
	</select> 
	
	
	<!-- ##########################데이터 변경 쿼리################################ -->
	<insert id ="insertSitter" parameterType="Sitter">
		insert into sitter values(#{email}, #{school}, #{certification}, #{serviceAddress}, #{sitterRate})
	</insert>
	
	<update id="updateSitter" parameterType="Sitter">
		update 	sitter
		set 	school = #{school},
			    certification = #{certification},
			    service_address = #{serviceAddress},
			    sitter_rate = #{sitterRate}
		where 	email = #{email}
	</update>
	
	<delete id ="deleteSitter" parameterType="sitter">
		delete from sitter where email = #{email}
	</delete>
	
	
</mapper>